<!-- <Header class="head">
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="https://rajalakshmi.org/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Rajalakshmi_Engineering_College_(REC)_Chennai_Logo.jpg"
                    alt="REC" width="70" height="24">
                Rajalakshmi Engineering College
            </a>
             
<button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav justify-content-end nav-info">
                <li class="nav-item">
                    <a class="nav-link active nav-name" aria-current="page" routerLink="/home" routerLinkActive="text-dark">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-name" aria-current="page" routerLink="/aboutUs" routerLinkActive="text-dark">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-name" aria-current="page" routerLink="/gallery" routerLinkActive="text-dark">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-name" aria-current="page" routerLink="/contactUs" routerLinkActive="text-dark">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-name" aria-current="page" routerLink="/login"routerLinkActive="text-dark">LogIn</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</Header> -->